img {
    width: 30%;
    margin: calc(10% / 6);
}

nav {
    width: 30%;
    border-bottom: 2px solid #f1f1f1;
    text-transform: uppercase;
    margin-left: calc(10% / 6);
    padding: 20px 0;
    font-family: "Jersey 10 Charted", sans-serif;
    font-size: 2.5em;
    color: #343a40;
}

footer {
    text-align: center;
    font-family: "Jersey 10 Charted", sans-serif;
    font-size: 20px;
    padding: 30px;
    color: #000000;
}
