/* ----- body ----- */
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: "Handlee", cursive;
    overflow-x: hidden;
}

/* ----- global ----- */

p,
a {
    font-family: "Open Sans", sans-serif;
    color: #79b4b7;
}

/* ----- top container ----- */
.top-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #c8f2ef;
}

/* top container first */
.top-container-first {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    width: 100%;
    height: 7vw;
    margin: 0 auto; /* Center the container horizontally */
}

.profile-img-outer {
    width: 50%;
    height: 100%;
}

.profile-img-inner {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 100%;
}

.profile-img-inner img {
    width: 5vw;
    height: 5vw;
    position: relative;
    top: 1vw;
    left: 3vw;
}

.nav {
    width: 50%;
    height: 100%;
}

.nav nav {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    height: 100%;
}

.nav ul {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    list-style: none;
    width: 100%;
    height: 100%;
    margin: 0;
}

.nav a {
    text-decoration: none;
    font-size: 2vw;
}

/* top container second */
.top-container-second {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 1vw;
}

.heading {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.heading h1 {
    margin: 0;
    padding: 0;
    color: #316b83;
    font-size: 5vw;
}

.description {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.description p {
    margin: 0;
    padding: 0;
    font-size: 2vw;
}

.cloud-top {
    width: auto;
    height: auto;
    display: flex;
    justify-content: flex-end;
    padding-right: 10vw;
}

.cloud-bottom {
    width: auto;
    height: auto;
    display: flex;
    justify-content: flex-start;
    padding-left: 10vw;
}

.cloud-top img,
.cloud-bottom img {
    margin: 0;
    padding: 0;
    width: 10%;
}

.mountain {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: first baseline;
}

.mountain img {
    margin: 0;
    padding: 0;
    width: 100%;
}

/* ----- middle container ----- */
.middle-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background-color: #fff9f9;
}

.profile-img-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.profile-img-2 img {
    width: 10vw;
    height: 10vw;
    margin: 0;
    border-radius: 50%;
    object-fit: cover;
    margin-top: 1vw;
    padding: 0;
}

.profile {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.profile h2 {
    width: 100%;
    height: 100%;
    text-align: center;
    margin: 0;
    padding: 1vw;
    color: #316b83;
    font-size: 3vw;
}

.profile p {
    width: 100%;
    height: 100%;
    text-align: center;
    margin: 0;
    padding: 0;
    font-size: 2vw;
}

hr {
    display: flex;
    justify-content: center;
    align-items: center;
    border-style: none;
    border-top-style: dotted;
    border-width: 0.5vw;
    border-color: #d3dedc;
    width: 3%;
    margin: 5vw;
}

.skill {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.skill img {
    width: 10vw;
    height: 10vw;
    margin: 0;
    border-radius: 50%;
    object-fit: cover;
}

.skill h2 {
    text-align: center;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 1vw;
    font-size: 3vw;
    color: #316b83;
}

.skill table {
    height: 100%;
    text-align: center;
    font-size: 2vw;
    margin: 0;
    padding: 0;
}

.hobbies {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.hobbies img {
    width: 10vw;
    height: 10vw;
    margin: 0;
    border-radius: 50%;
    object-fit: cover;
}

.hobbies h2 {
    text-align: center;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 1vw;
    font-size: 3vw;
    color: #316b83;
}

.hobbies p {
    width: 100%;
    height: 100%;
    text-align: center;
    margin: 0;
    padding: 0;
    font-size: 2vw;
}

.contact {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.contact img {
    width: 10vw;
    height: 10vw;
    margin: 0;
    border-radius: 50%;
    object-fit: cover;
}

.contact h2 {
    text-align: center;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 1vw;
    font-size: 3vw;
    color: #316b83;
}

.contact a {
    text-decoration: none;
    margin: 1vw;
}

.contact p {
    width: 100%;
    height: 100%;
    text-align: center;
    margin: 0;
    padding: 0;
    font-size: 2vw;
}

/* ----- bottom container ----- */
.bottom-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    background-color: #c8f2ef;
}

.bottom-container a {
    text-decoration: none;
    font-size: 2vw;
}

/* ----- footer ----- */
footer {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1vw;
    padding: 0;
    font-weight: bold;
    font-size: 2vw;
}
