<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Home</title>
    </head>
    <body>
        <h1>The Home Page <%= 2+6 %></h1>
        <p>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Totam
            atque quis expedita a cum neque inventore at laborum dolorem eaque
            quia accusamus optio odio, tempora voluptatem reprehenderit
            doloribus porro mollitia.
        </p>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quibusdam
            at officiis a perferendis unde. Quisquam aperiam numquam provident,
            accusantium placeat maxime nam voluptatibus, deserunt eos adipisci
            neque nihil quas excepturi.
        </p>
    </body>
</html>
